In [2]:
import pandas as pd

In [21]:
df = pd.read_csv("../output/dataset.csv.gz")
df.head(10)

,patient_id,has_pf_consultation,sex,age,region,imd_rounded,rural_urban
0,1,F,unknown,34,East Midlands,NaN,NaN
1,2,F,female,28,East Midlands,NaN,NaN
2,3,F,unknown,63,North West,NaN,NaN
3,4,F,unknown,15,North West,NaN,NaN
4,5,F,female,113,North West,NaN,NaN
5,6,F,intersex,33,Yorkshire and The Humber,NaN,NaN
6,7,F,male,85,South East,NaN,NaN
7,8,F,unknown,20,South West,NaN,NaN
8,9,F,unknown,65,South West,NaN,NaN
9,10,F,female,61,South East,NaN,NaN

In [23]:
df['rural_urban'].value_counts()

rural_urban
3.0    6
5.0    4
4.0    2
7.0    2
1.0    2
2.0    1
Name: count, dtype: int64

In [ ]:

df_practices = pd.read_csv("../output/dataset_practices.csv.gz")

df.head()

   patient_id has_pf_consultation       sex  age         region
0           1                   F      male   34  East Midlands
1           2                   F      male   28  East Midlands
2           3                   F      male   63     North West
3           4                   F      male   15     North West
4           5                   F  intersex  113     North West

In [11]:
df[df['has_pf_consultation']=='T']['region'].value_counts()

region
Yorkshire and The Humber    11
East                        10
London                       8
North West                   7
West Midlands                6
South West                   6
East Midlands                5
North East                   3
South East                   2
Name: count, dtype: int64

In [7]:
df_practices.head()

   patient_id has_pf_consultation      sex  age
0           1                   F  unknown   34
1           2                   F   female   28
2           3                   F     male   63
3           4                   F  unknown   15
4           5                   F   female  113

In [8]:
data_patients = pd.read_csv("../dummy-folder/patients.csv")
data_patients

     patient_id date_of_birth       sex
0             1    1991-10-01      male
1             2    1997-02-01      male
2             3    1962-11-01      male
3             4    2010-10-01      male
4             5    1912-05-01  intersex
..          ...           ...       ...
995         997    1970-06-01    female
996         998    1932-09-01    female
997         999    2009-09-01    female
998        1000    2024-12-01      male
999        1001    1911-07-01      male

[1000 rows x 3 columns]

In [10]:
data_patients['sex'].value_counts()

sex
male        378
female      231
intersex    209
unknown     182
Name: count, dtype: int64