In [7]:
import pandas as pd

df = pd.read_csv("../output/dataset.csv.gz")
df.head()

   patient_id has_pf_consultation       sex  age
0           1                   F   unknown   34
1           2                   F    female   28
2           3                   F  intersex   63
3           4                   F   unknown   15
4           5                   F  intersex  113

In [8]:
df.shape

(1000, 4)